$color-green: #00ba9d;
$color-yellow: #fff2ae;
$color-red: #ff5470;
$main-gray: #f2f2f2;
$white: #fff;
$text-gray: #717070;
$mid-gray: #d4d4d4;
$light-gray: #f1f1f1;



//width
$sidebar-width: 16%;

//others
$border-radius: 5px;
$border-radius-big: 10px;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
